body {
  background-color: #f9f7fe;
  font-family: "Sour Gummy", sans-serif;
}
.forecast {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: o 30px 50px rgba(65, 50, 100, 0.88);
  border-radius: 16px;
}
