body {
  background-color: #f9f7fe;
  font-family: "Sour Gummy", sans-serif;
}
main {
  padding: 30px 0;
}
.forecast-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.forecast-details {
  font-size: 16px;
  line-height: 38px;
  color: rgba(31, 26, 56, 0.288);
  font-weight: 500;
}
.forecast-details strong {
  color: #f65282;
}
.forecast {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: o 30px 50px rgba(65, 50, 100, 0.88);
  border-radius: 16px;
}
.forecast-temperature {
  display: flex;
}
.forecast-value {
  font-size: 65px;
  font-weight: bold;
  margin-left: 10px;
}
.forecast-icon {
  font-size: 34px;
  margin-top: 22px;
}
.forecast-unit {
  margin-top: 16px;
  font-size: 30px;
}
.search-form-input {
  background-color: #cdc3e4;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.submit-button {
  background: #947ccc;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}
footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 15px;
}
.forecast-data {
  display: flex;
  justify-content: space-between;
}
